{% extends "SITPlatformBundle::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

    {% block sitplatform_center %}
        <table cellpadding="0" cellspacing="0" border="0" class="dataTable mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="example">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Produit :  Tx YYYY/status</th>
                <th>Potentiel</th>
                <th>Prospecting</th>
                <th>Qualifying</th>
                <th>Solution Presentation</th>
                <th>Proposal</th>
                <th>Closing</th>
                <th>Classé</th>
                <th>Support</th>
                <th>Totale</th>
            </tr>
            </thead>
            <tbody>

            {% for item in listeProduit %}
                <tr>
                    <td class="collum">{{ item.libelle }} : T{{ item.periodeLivraison }}/{{ item.dateLivraison|date('Y') }} </td>
                    {% set T1=0 %}{% set T2=0 %}{% set T3=0 %}{% set T4=0 %}{% set T5=0 %}{% set T6=0 %}{% set T7=0 %}{% set T8=0 %}
                    {% for item1 in item.etatproduits %}
                    {% if item1.status=='Potentiel' %}
                        {%set T1=T1+ item1.budget%}
                    {% endif %}
                    {% if item1.status=='Prospecting' %}
                        {%set T2=T2+ item1.budget%}
                    {% endif %}
                    {% if item1.status=='Qualifying' %}
                        {%set T3=T3+ item1.budget%}
                    {% endif %}
                    {% if item1.status=='Solution Presentation' %}
                        {%set T4=T4+ item1.budget%}
                    {% endif %}
                    {% if item1.status=='Proposal' %}
                        {%set T5=T5+ item1.budget%}
                    {% endif %}
                    {% if item1.status=='Closing' %}
                        {%set T6=T6+ item1.budget%}
                    {% endif %}
                    {% if item1.status=='Classé' %}
                        {%set T7=T7+ item1.budget%}
                    {% endif %}
                    {% if item1.status=='Support' %}
                        {%set T8=T8+ item1.budget%}
                    {% endif %}
                    {% endfor %}

                    <td>{{ T1 }}</td>
                    <td>{{ T2 }}</td>
                    <td>{{ T3 }}</td>
                    <td>{{ T4 }}</td>
                    <td>{{ T5 }}</td>
                    <td>{{ T6 }}</td>
                    <td>{{ T7 }}</td>
                    <td>{{ T8 }}</td>
                    <td>{{ T1+T2+T3+T4+T5+T6+T7+T8 }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <script>
            $(document).ready(function() {
                $('#example').dataTable({"sPaginationType": "full_numbers"});
            });
        </script>
    {% endblock %}
